
.personal {
	height: 650px;
	background-color: #F5F5F5;
	font-size: 14px;
}

.personal .lef {
	height: 500px;
	text-align: center;
	box-sizing: border-box;
	background-color: white;
	padding: 35px 40px;
	min-height: 100px;
	float: left;
	margin-top: 20px;
}

.personal .lef li {
	padding: 20px 0;
	cursor: pointer;
	opacity: 0.7;
}

.personal .lef li:hover {
	color: #0AB463;
}

.personal .lef li:nth-child(2) {
	color: black;
	font-weight: bold;
}

.personal .rig {
	float: left;
	margin-left: 20px;
}

.personal .head {
	height: 500px;
	width: 1000px;
	margin-top: 20px;
	background-color: white;
}

.head .person {
	height: 20px;
	width: 100%;
	font-size: 18px;
	margin-left: 20px;
	padding: 20px 16px;
}

.head .box {
	height: 150px;
	width: 250px;
	border: 1px solid #F5F5F5;
	margin-left: 20px;
	cursor: pointer;
	float: left;
	margin-top: 8px;
}

.head .box .add {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-color: #bdbdbd;
	margin-top: 52px;
	margin-left: 105px;
}

.head .box .add>.add_01 {
	width: 16px;
	height: 4px;
	background-color: #fff;
	position: relative;
	top: 14px;
	left: 7px;
}

.head .box .add>.add_02 {
	width: 4px;
	height: 16px;
	background-color: #fff;
	position: relative;
	top: 4px;
	left: 13px;
}

.head .box .add_address {
	margin-left: 82px;
	margin-top: 5px;

}

.head .box:hover {
	border: 1px solid #00c3f5;
}

.head .box:hover .add {
	background-color: #00c3f5;
}

.head .new_address {
	padding: 0 20px 20px 0;
}

.head .new_address li {
	float: left;
	width: 250px;
	height: 150px;
	box-sizing: border-box;
	border: 1px solid #F5F5F5;
	overflow: hidden;
	margin-left: 20px;
	font-size: 13px;
	margin-top: 10px;
}

.head .new_address>.item .item_box {
	margin-left: 20px;
}

.head .new_address>.item .new_phone {
	position: relative;
	float: right;
	bottom: 15px;
}

.head .new_address>.item .new-address {
	margin-top: 10px;
	margin-left: 20px;
}

.head .new_address>.item .family {
	margin-left: 20px;
	margin-top: 10px;
}

.head .new_address>.item .pic {
	position: relative;
	top: 50px;
	left: 180px;
}

.head .new_address .active {
	border: 1px solid #00c3f5;
}

.head .new_address>.item .pic>.del {
	margin-left: 20px;
}

.head .new_address li:hover {
	border: 1px solid #00c3f5;
}

.form {
	margin-top: 30px;
	height: 250px;
	width: 600px;
	background-color: white;

}

.form input {
	width: 155px;
	height: 30px;
	padding: 4px 10px;
	border-radius: 5px;
	outline: none;
	font-size: 15px;
	border: 1ox solid #E2E9ED;
	margin-top: 15px;
	margin-left: 15px;
}

.form select {
	width: 179px;
	height: 41px;
	border-radius: 5px;
	outline: none;
	font-size: 15px;
	border: 1ox solid #E2E9ED;
	margin-top: 20px;
	margin-left: 15px;
}

.form .add-01 {
	width: 300px;
}

.form button {
	height: 40px;
	width: 150px;
	outline: none;
	color: white;
	border: 1px solid;
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
	margin-left: 15px;
	border-radius: 5px;
	background-color: #808080;
	cursor: pointer;
}

.form .cancel {
	background-color: #D9D9D9;
	color: black;
}

.form .cancel:hover {
	background-color: #BFBFBF;
}

.form .btn:hover {
	background-color: #595959;
}
